h1 Form
form
    input(type="text", ng-model="book.titel", name="titel")
    input(type="text", ng-model="book.regal", name="regal")
    input(type="text", ng-model="book.nr", name="nr")
    input(type="text", ng-model="book.illustrator", name="illustrator")
    input(type="text", ng-model="book.text", name="text")
    input(type="text", ng-model="book.druckdatum", name="druckdatum")
    input(type="text", ng-model="book.auflage", name="auflage")
    input(type="text", ng-model="book.typ", name="typ")
    input(type="text", ng-model="tag.titel", name="tag", ng-blur="saveTag()")
    select(
        kendo-multi-select="",
        k-data-source="tags",
        k-data-text-field="'titel'",
        k-data-value-field="'titel'",
        ng-model="book.tags")
    input(ng-click="saveBook()", type="submit")
